<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{fragments/heading::heading}">
    <title>Titel</title>
</head>
<body>
    <header th:replace="~{fragments/header::header}"></header>
    <div sec:authorize="isAuthenticated()">
        <nav th:replace="~{fragments/nav::nav}"></nav>
    </div>
    <main layout:fragment="content"></main>
    <footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
