<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}"
    th:with="title=#{pages.login.name}"
    th:lang="${lang}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <main layout:fragment="content">
        <form th:action="@{/login}"  method="POST">
            <div th:if="${param.error}" th:text="#{loginForm.error.invalidLogin}" style="color: red;"></div>
            <div th:if="${param.logout}" th:text="#{loginForm.success.logout}" style="color: green;"></div>
            <label for="username" th:text="#{loginForm.label.username}">Username:</label>
            <input id="username" name="username" type="text"/><br>
            <label for="password" th:text="#{loginForm.label.password}">Password:</label>
            <input id="password" name="password" type="password"/><br>
            <input type="submit" th:value="#{loginForm.value.loginButton}"/>
        </form>
        <p th:text="#{loginForm.text.dontHaveAnAccount}">Please visit</p>
        <a th:text="#{loginForm.text.goToRegisterLink}"href="/register">Sign up</a>
    </main>
</body>
</html>
