<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}"
    th:lang="${lang}">
<head>
    <title>Log in</title>
</head>
<body>
    <h1>Log in | Recruitment application</h1>
    <form th:action="@{/login}"  method="POST">
        <div th:if="${param.error}" style="color: red;">
            Invalid login information
        </div>
        <label for="username" th:text="#{label.loginForm.username}">Username:</label>
        <input id="username" name="username" type="text"/><br>
        <label for="password" th:text="#{label.loginForm.password}">Password:</label>
        <input id="password" name="password" type="password" /><br>
        <input type="submit" value="Log in"/>
    </form>
    <p th:text="#{text.loginForm.dontHaveAnAccount}">Please visit</p>
    <a href="/register">Sign up</a>
</body>
</html>
