<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}" th:with="title=#{pages.success.name}" th:lang="${lang}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <main layout:fragment="content">
        This is the success page for applicants.
        <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.
            <div sec:authorize="hasRole('ROLE_APPLICANT')">
                This content is only shown to applicants.
            </div>
            <div sec:authentication="name">
                The value of the "name" property of the authentication object should appear here.
            </div>
            <p sec:authentication='principal.authorities'></p>
        </div>
        <select name="competencies" id="competencies">
            <option th:each="c : ${competencies}" th:text="${c.getName()}">competence name</option>
        </select>
        <p th:text="#{success.text.pleaselogoutgoodsir}">Please visit</p>
        <a href="/logout" th:text="#{success.text.logout}">Log out</a>
    </main>
</body>

</html>